{% extends 'app/base.html' %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Inbox
        <small>Mensagens</small>
    </h1>                    
</section>

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->                    

    <div class="box box-primary">            
        <div class="box-body">                      
            <div class="table-responsive">                                                   
                
                <nav class="navbar navbar-default">
                    <div class="container-fluid">                    

                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="#">Mensagens</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <form class="navbar-form navbar-right" method="GET">                                
                                <div class="form-group">                                                            
                                    <small>Registros por pag.</small>
                                    <select class="input-sm"  id="reg_pag" name="reg_pag">                
                                        <option value="10">10</option>                                    
                                        <option value="20">20</option>                                    
                                        <option value="50">50</option>                                    
                                        <option value="100">100</option>                
                                    </select>                                           
                                </div>                       
                                <div class="form-group">                            
                                    <small>Ordenar por:</small>
                                    <select class="input-sm"  id="ordenar" name="ordenar">                
                                        <option value="data">Data</option>
                                        <option value="assunto">Assunto</option>
                                        <option value="remetente">Remetente</option>                                                        
                                    </select>                                                  
                                </div>                        
                                <div class="form-group">              
                                    <input class="input-sm" pattern="[a-zA-Z0-9]+" type="text" id="buscar" name="buscar" value='{{ filtro.filtro1 }}' placeholder="Buscar...">
                                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                                </div>                        
                            </form>                                                                                                     
                        </div>                                                                        
                    </div>
                </nav>
                <table>
                    <tr>
                        <td>
                            <a type="button" class="btn btn-default btn-sm checkbox-toggle btn-selec-all"><span class="selec-all" value="false"><i class="fa fa-square-o"></i></span></a>                
                            <a href="{% url 'app:inbox' %}" type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></a>
                            <a href="" type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></a>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Marcar como lido</a></li>
                                    <li><a href="#">Marcar como não lido</a></li>
                                    <li><a href="#">Mover para</a></li>                    
                                </ul>
                            </div>      
                        </td>
                    </tr>
                </table>          
                <p/>

                <table class="table table-selectable-multiple" style="width: 100%; max-width: 600px;">                    
                    {% for msg in mensagem %}
                        {% if msg.lida == False %}
                        <tr style="font-weight:bold" id="{{ msg.pk }}">
                        {% else %}
                        <tr id="{{ msg.pk }}">
                        {% endif %}                           
                            <td class="checkboxinbox" align=center><input type="checkbox"></td>
                            <td class="linhainbox">{{ msg.assunto | slice:":10"  }}</td>
                            <td class="linhainbox">{{ msg.mensagem | slice:":30" }}</td>
                            <td class="linhainbox">{{ msg.dt_mensagem }}</td>
                        </tr>                    
                    {% endfor %}
                </table>
            </div>

            <ul class="pagination">
                {% if pagamento.has_previous %}
                    <li><a href="{{ filtro.url }}&page=1"><span class="fa fa-angle-double-left"></span></a></li>
                    <li><a href="{{ filtro.url }}&page={{ pagamento.previous_page_number }}"><span class="fa fa-angle-left"></span></a></li>
                {% else %}
                    <li class="disabled"><span class="fa fa-angle-double-left"></span></li>
                    <li class="disabled"><span class="fa fa-angle-left"></span></li>
                {% endif %}
                {% for page in pagamento.paginator.page_range %}
                    {% if page >= pagamento.number|add:"-3" and page < pagamento.number %}
                        <li><a href="{{ filtro.url }}&page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                    {% ifequal pagamento.number page %}
                        <li class="active"><span>{{ pagamento.number }}</span></li>
                    {% endifequal %}                    
                    {% if page <= pagamento.number|add:"3" and page > pagamento.number %}
                        <li><a href="{{ filtro.url }}&page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if pagamento.has_next %}
                    <li><a href="{{ filtro.url }}&page={{ pagamento.next_page_number }}"><span class="fa fa-angle-right"></span></a></li>
                    <li><a href="{{ filtro.url }}&page={{ pagamento.paginator.num_pages }}"><span class="fa fa-angle-double-right"></span></a></li>
                {% else %}
                    <li class="disabled"><span class="fa fa-angle-right"></span></li>      
                    <li class="disabled"><span class="fa fa-angle-double-right"></span></li>
                {% endif %}                
            </ul>
                       
        </div>
    </div>               
</section><!-- /.content -->	

{% endblock %}

{% block javascript %}
<script type="text/javascript">    
    
    jQuery(document).ready(function(){
        
    });
    $(".linhainbox").click(function(e) {
      window.location.href = "/app/msg/" + $(this).closest("tr").attr("id") + "/";
    });    
    $(".checkboxinbox").click(function(e) {      
      if ($(this).closest("tr").hasClass("selected")) {
        $(this).closest("tr").removeClass("selected");
        $(this).closest("tr")
          .find("input[type='checkbox']")
          .prop("checked", false);
      } else {
        $(this).closest("tr").addClass("selected");
        $(this).closest("tr")
          .find("input[type='checkbox']")
          .prop("checked", true);
      }
    });
    $(".btn-selec-all").click(function(e) {
        valor = $(this).val();
        $(this).val(!valor);
        if ($(this).val() == true){
            $(".selec-all")[0].innerHTML = "<i class='fa fa-check-square-o'></i>";                  
        }
        else{
            $(".selec-all")[0].innerHTML = "<i class='fa fa-square-o'></i>";      
        }      
    });

    $('#reg_pag').val('{{ filtro.pag }}'); 
    $('#ordenar').val('{{ filtro.ordenar }}'); 
    $('#buscar').val('{{ filtro.buscar }}'); 


</script>
{% endblock javascript %}