{% extends 'app/base.html' %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Inbox
        <small>Mensagens</small>
    </h1>                    
</section>

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->                    

    <div class="box box-primary">            
        <div class="box-body">          
            
            De: {{ msg.remetente }}<br>
            {{ msg.dt_mensagem }}<br><br>
            <div class="form-group">              
              <textarea class="form-control" rows="10" id="comment">{{ msg.mensagem }}</textarea>
            </div>            
                       
        </div>
    </div>               
</section><!-- /.content -->	

{% endblock %}

{% block javascript %}
<script type="text/javascript">    

</script>
{% endblock javascript %}